/* Corps de la page */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom, #003366, #66ccff);
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    position: relative;
}

/* Titre principal */
h1 {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ff9900;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Score */
#score {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 2em;
    margin: 20px 0;
    color: #ffffff;
}

/* Bouton Clicker */
#cookie {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255, 153, 0, 0.7);
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
    position: absolute;
}

#cookie:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Boutons en général */
button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #ff9900;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff9900;
    color: #fff;
    transform: scale(1.1);
}

/* Menu */
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #003366;
    color: white;
    padding: 20px;
    width: 200px;
    display: none; /* Cacher le menu par défaut */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#menu.active {
    display: block; /* Afficher le menu quand la classe active est ajoutée */
}

#menu h2 {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu li button {
    width: 100%;
}

/* Bouton du menu */
#menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#menu-button:hover {
    background-color: #ffaa00;
}

/* Autres boutons de musique */
#play-music {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 10px 15px;
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-music:hover {
    background-color: #ffcc00;
}

#real-music {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    padding: 10px 15px;
    background-color: #FF6347;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#real-music:hover {
    background-color: #FF4500;
}

/* Fenêtre qui fuit la souris */
.evading-window {
    width: 150px;
    height: 100px;
    background-color: lightblue;
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    z-index: 1000;
}
